* {
    font-family: 'Inter', sans-serif;
    color: rgb(247, 246, 246);
}

body {
    background-color: rgb(23, 23, 23);
}

.main {
    background-color: rgb(47, 47, 47);
    width: 95vw;
    height: 100vh;
    border: 2px solid rgb(47, 47, 47);
    border-radius: 25px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 450;
    margin: 8px;
    padding: 8px;
}

.add_task_bar {
    display: flex;
    border: 2px solid #1DB954;
    border-radius: 25px;
    background-color: #1DB954;
    height: 35px;
}

#add_task {
    background-color: #1DB954;
    flex-grow: 1;
    margin: 6px;
    padding: 6px;
}

input {
    font-size: 18px;
    color: white;
    border: none;
}
::placeholder {
    color: white;
    opacity: 0.9;
}

#add_task_button {
    border: solid 1px rgb(247, 246, 246);
    border-radius: 25px;
    padding: 16px;
    margin: .5px;
    border: none;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#add_task_button:hover {
    background-color: rgb(218, 218, 218);
}

button {
    color: black;
}
/*Up to CSS for li, style checkboxes, style, remove item x */
.list {
    display: flex;

}

li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 0;
    width: 90vw;
}
 
.checkbox {
    
}

.remove_item {
    margin-left: auto; 
}

ul {
    list-style: none;
    padding: 8px;
}
